<li>
	{{burger_name}}

	<button class="devour-burger" data-id="{{this.id}}" data-newdevoured="{{devour}}">
		{{#if devour}}devour{{else}}yum{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>